<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
</head>

<body>
  <a href="/logout">ログアウト</a>
  <h1>Janken Game!</h1>

  <div th:if="${entry}">
    <p>エントリー</p>
    <li th:each="user : ${entry.users}">[[${user}]]</li>
    </ul>
  </div>
  <div th:if="${login_user}">
    <p>Hi [[${login_user}]]</p>
  </div>

  <p><a href="/jankengame?param1=gu">グー</a>
    <a href="/jankengame?param1=pa">パー</a>
    <a href="/jankengame?param1=choki">チョキ</a>
  </p>

  <div th:if="${result}">
    <p>あなたの手[[${me}]]</p>
    <p>相手の手[[${enemy}]]</p>
    <p>結果:[[${result}]]</p>
  </div>
</body>

</html>
